.app {
  position: relative;
  width: 90%;
  max-width: 700px;
  height: max-content;
  padding: 60px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title,
.sub-title {
  color: #1d2228;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.2;
}

.title {
  font-size: 3.08em;
  margin: 0;
}

.sub-title {
  width: 100%;
}

.description,
.sub-description {
  font-size: 1.385em;
  letter-spacing: normal;
  line-height: 1.8;
  margin: 0;
}

.description {
  font-style: italic;
}

.author {
  margin-top: 20px;
  width: 100%;
}

.author > span {
  color: #00a0d2;
}
